* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: tan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Quiz box element */
.quiz-container {
    height: 500px;
    margin: 3% 15%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
}

/* Header */
.stats {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.scores {
    width: 25%;
    padding: 15px;
    color: rgb(67, 105, 167);
    font-size: 18px;
    text-align: center;
}

.timer {
    width: 25%;
    padding: 15px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/* Start Quiz page */

.main {
    height: 400px;
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    margin-top: 20px;
    width: 100%;
    color: darkblue;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.intro {
    display: block;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.start-button {
    margin-top: 25px;
    padding: 8px 14px;
    color: white;
    background-color: darkblue;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
}

.start-button:hover {
    color: gold;
    background-color: rgb(54, 94, 168);
}

/* Questions section - hidden until start quiz */
.quiz-box {
    height: 75%;
}

/* .question {
    padding: 10px 75px;
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
} */

.answers {
    padding: 5px 75px;
    width: 100%;
}

.btn-cnt {
    width: 100%;
    padding: 5px 0;
}

.btn-answers {
    width: 25%;
    padding: 5px 8px;
    color: white;
    background-color: darkblue;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: gold;
    background-color: rgb(54, 94, 168);
}

/* FOOTER - RESULTS SECTION */
.results {
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
}

.results-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.result {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
    font-style: italic;
}

.correct span {
    padding-left: 8px;
    font-size: 20px;
    color: rgb(4, 235, 4);
    font-weight: bold;
    visibility: hidden;
}

.wrong span {
    padding-left: 8px;
    font-size: 20px;
    color: red;
    font-weight: bold;
    visibility: hidden;
}